* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

.lead {
  font-weight: 900;
  font-size: 30px;
}

.container {
  display: grid;
  place-items: center;
  height: inherit;
}

.flex-layout {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
}

.front-door {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.door-open {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.front-door .door-img {
  cursor: pointer;
  transition: 1s transform linear;
  transform-origin: left;
}

.door,
.inside-door {
  position: relative;
  width: 100%;
}

.door .item-door {
  position: absolute;
  bottom: 0;
  max-width: 250px;
  left: 14px;
  visibility: hidden;
}

.item-door.diplayNone {
  visibility: visible;
}

.scale-up-left {
  animation: scale-up-left 2s;
}
@keyframes scale-up-left {
  0% {
    transform: scale(0);
    transform-origin: bottom left;
  }
  100% {
    transform: scale(1);
    transform-origin: left center;
  }
}

.scale-down-left {
  animation: scale-down-left 2s;
}
@keyframes scale-down-left {
  0% {
    transform: scale(1);
    transform-origin: left center;
  }
  100% {
    transform: scale(0);
    transform-origin: bottom left;
  }
}
